.layout {
  display: grid;
  grid-template:
    "topbar1" min-content
    "editor" min-content
    "topbar2" min-content
    "result" min-content
    "code" min-content / 1fr;
  max-width: 100vw;
  gap: 1rem;
  padding: 1em;
}

@media (min-width: 870px) {
  .layout {
    grid-template:
      "topbar1 topbar2" min-content
      "editor result" min-content
      "editor code" 40% / 1fr 1fr;
  }
  .right {
    justify-content: end;
  }
}

.code {
  grid-area: code;
  font-size: 0.75rem;
}
.code pre {
  overflow: auto;
}

.result {
  grid-area: result;
}

.editor {
  grid-area: editor;
}

.output {
  background-color: black;
  color: white;
  overflow: auto;
  max-height: 60vh;
}

.compiled {
  overflow: auto;
  font-size: 0.75rem;
  max-height: 60vh;
}

.left {
  grid-area: topbar1;
}
.right {
  grid-area: topbar2;
}

.left,
.right {
  display: flex;
  gap: 0.5rem;
}

.examplesDropdownWrapper > button {
  color: var(--font-color);
}
