.example {
    position: relative;
}

.inlineButton {
  padding: 0.1rem 0.4rem;
}

.blockButton {
  position: absolute;
  bottom: 0;
  right: 0;
}

[data-theme='dark'] .example button {
    background:var(--ifm-color-content);
    color:black;
}
